body {
  margin: 0px;
  font-family: sans-serif;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 15px;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 130%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}
.image {
  display: inline-block;
  right: 40px;
  position: absolute;
}
.size {
  width: 113px;
  height: 113px;
}

.name-title {
  color: #0e2452;
  text-transform: uppercase;
  margin-top: 0;
}

.CV {
  display: inline-block;
  width: 70%;
}

th,
td {
  text-align: left;
}

tr {
  line-height: 30px;
}

.personal-table th {
  padding-right: 40px;
}

.section-title {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: 40px;
  text-transform: uppercase;
}

#information {
  display: inline;
  vertical-align: top;
  border-bottom: 1px solid #9999;
  position: relative;
  padding-bottom: 10px;
}

/* li {
  list-style: none;
} */

.certificate,
.exp,
.activity {
  display: inline-block;
  width: 69%;
}

.year {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.skill-table th {
  width: 100px;
  padding-right: 180px;
}

.prize-table th {
  font-weight: normal;
  padding-right: 130px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.skill-table th {
  width: 100px;
  padding-right: 175px;
}

.certificate p,
.exp p,
.activity p,
#project p {
  margin-top: 7px;
  margin-bottom: 7px;
}

span {
  font-weight: bold;
}

.section-content h3 {
  text-transform: uppercase;
}

li {
  position: relative;
  left: -20px;
  padding-bottom: 10px;
  padding-left: 8px;
}

h3 {
  text-transform: uppercase;
}

#education ul:before {
  content: "";
  position: relative;
  top: 159px;
  font-size: 4px;
  padding: 174px 8px 0px 0px;
  line-height: 4px;
  margin: 0px 5px 0px 0px;
  border-left: 1px solid gray;
  left: -32px;
}

#experience ul:before {
  content: "";
  position: relative;
  top: 280px;
  font-size: 4px;
  line-height: 4px;
  padding: 283px 8px 20px 0;
  margin: 0 10px 0 0;
  border-left: 1px solid #9999;
  left: -32px;
}
#activity ul:before {
  content: "";
  position: relative;
  top: 150px;
  font-size: 4px;
  line-height: 4px;
  padding: 155px 8px 0px 0;
  margin: 0 10px 0 0;
  border-left: 1px solid #9999;
  left: -32px;
}

#education ul,
#experience ul,
#activity ul {
  list-style: none;
}
